body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    /* overflow: hidden; */
    background-color: #ecf0f1;

}
.main{
    position: relative;
    left: 277px;
}
.main_header{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ecf0f1;
    margin-bottom: 20px;
}

.sidebar {
    width: 230px;
    height: 100vh; /* Chiều cao toàn màn hình */
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung vượt quá */
    position: fixed; /* Cố định vị trí */
}

.sidebar .Logo {
    width: 100%; 
    text-align: center;
    padding: 10px 0;
}

.sidebar .Logo img {
    max-height: 70px; 
    width: auto;
    margin-bottom: 5px; 
}
.sidebar .logo h2 {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar nav ul li i {
    margin-right: 10px;
}

.sidebar nav ul li.active, .sidebar nav ul li:hover {
    background-color: #34495e;
}

.content {
    flex: 1;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ecf0f1;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0,0.3);

}

.wrap-table_filter input, select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    width: 200px;
}

.wrap-table_filter button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
header{
    border-radius: 10px;
}

.user-info i {
    margin-left: 10px;
    font-size: 1.5em;
    border-radius: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #34495e;
    color: white;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #dcdde1;
}

table .btn-detail {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table .btn-edit {
    background-color: #f1c40f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table .btn-delete {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text-danger {
    color: red;
}
.wrap-table{
    width: 940px;
}

.wrap-table_filter input {
    width: 300px;
}

.wrap-table_filter button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table .btn-detail {
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

table .btn-edit {
    background-color: #f39c12;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

table .btn-delete {
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.wrap-table{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
/* drop down */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none; 
    position: absolute;
    width: 125px;
    top: 100%; 
    left: -80px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    z-index: 100000000;
    overflow-y: hidden; /* Thêm thanh cuộn dọc nếu nội dung quá dài */
    overflow-x: hidden; /* Không cho cuộn ngang */
  }
  
  .dropdown-menu li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
  }
  
  .dropdown-menu li:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-icon {
    cursor: pointer;
  }

  .dropdown-menu li i{
    margin: 0;
  }
  